.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1.25em 0;
  width: auto;
}

.logo {
  width: 220px;
}

.formPage {
  width: 180%;
  border-radius: 0.35em;
  margin-bottom: 2em;
  height: -10%;
}
a {
  color: darkmagenta;

}

backgroundImage{
  width: fit-content;
  height: fit-content;
}

a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  font-size: 1.25rem;
  color: darkblue;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 0.15em;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover, 
.nav-active {
  color: #5dabaa;
}
nav{
  display: flex;
  align-items: baseline;
  margin-left: 70%;
}
/* media queries */
@media (max-width: 767px) {
  nav a {
    padding: 0.35em 0;
  }
}

@media (min-width: 768px) {
  header, 
  nav {
    display: flex;
    align-items: center;

  } 
  header.container {
    margin-bottom: 1em;
  }
  nav {
    margin-left: auto;
  }
  nav a {
    margin-left: 1.25em;
  }
  .nav-active {
    border-bottom: 2px solid currentColor;
  }
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* form {
    width: 70%;
  } */
}
.Background {
  background-color: orchid; 
  height: 100%;
  width: 100%;
}
.headeing {
  color: darkblue; 
  align-self:  center;
  height: 1em;
}

.form
{
  border-width:2px;
  border-style:solid;
  border-color:darkblue;
  margin :50px;
}
.img
{
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  object-fit:cover; 
  object-position: center;
  size: 20%;

}
.App-link {
  color: #61dafb;
}
.card-table
{
  border-radius: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.card-form
{
  border-radius: 1rem;
  margin-left: 5em;
  margin-right: 5rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .header 
{
  background-color:lightgray;
  padding: 25px;
  text-align: center;
  font-size: 20px;
  
} */

.nan-item Link
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px soli white;
    margin-right: 7px;
}
/* .nav-item A:hover
{
background-color: teal;
color: black !important;

} */


/* .nav-item .navlnk {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid white;
  margin-right: 7px;
} */
.Mainheading{
  
  text-align: center;
  padding: 15px;
}
.reset-button{
  margin-right: 3.5rem;
}